<ion-content>
  <ion-slides pager="true">
    <!-- Slide 1-->
    <ion-slide>
      <ion-text color="light">
        <img src="../../../assets/images/lambo.jpg " alt="Lambo Jaune" />
        <h1>Hey there!</h1>
        <p>This is an epic app because....</p>
        <ion-button (click)="next()" fill="outline" color="light"
          >Next</ion-button
        >
      </ion-text>
    </ion-slide>

    <!-- Slide 2 -->
    <ion-slide>
      <ion-text color="light">
        <img src="../../../assets/images/lambo-vert.jpg " alt="Lambo Verte" />
        <h1>This super cars are wonderfull!</h1>
        <p>This is an epic app because....</p>
        <ion-button (click)="start()" fill="outline" color="light"
          >Next</ion-button
        >
      </ion-text>
    </ion-slide>
  </ion-slides>
</ion-content>
